.container-holder {
  align-items: flex-start;
  margin-left: 5%;
}

h2 {
  color: var(--main-font);
  font-size: 16px;
}

.service-box-provide {
  display: flex;
  align-items: center;
  gap: 25px;
  width: 95%;
  height: 140px;
  padding: 0 10px;
  background-color: var(--bg-second);
  border-radius: 8px;
}

.service-box-provide .image, .service-box-provide .s-info-holder {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.service-box-provide .image {
  height: calc(140px - 10px);
}

.service-box-provide .image img {
  height: 100%;
  aspect-ratio: 4/3;
  margin: auto;
}

.service-box-provide .s-info-holder {
  gap: 5px;
}

.service-box-provide .s-info-holder .s-title {
  font-size: 13px;
  color: var(--second-font);
}

.service-box-provide .s-info-holder .s-price {
  font-size: 11px;
  color: var(--thred-font);
}

.service-box-provide .s-info-holder p {
  font-size: 11px;
}

.service-box-provide .s-info-holder a {
  color: var(--add);
  font-size: 11px;
  border-bottom: 2px solid var(--thred-font);
  transition: all 0.3s;
}

.service-box-provide .s-info-holder a:hover {
  color: #fff;
  border-bottom-color: #fff;
}
